<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Data Binding</title>
</head>

<body>
    <div id="root">
        <input type="text" id="input" v-model="message">
        <p>The value of input is : {{ message }}</p>
        <!-- Step 2 : Create an UL with LI init -->
        <ul>
            <!-- Step 3 : Use v-for to spray list array item -->
            <li v-for="name in names" v-text="name">
                <!-- Step 4 : Use extracted variable as required -->
                <!-- Alternatively : <p>{{ name }}</p> -->
            </li>
        </ul>
        <!-- Step 5 : Add input box with button -->
        <input type="text" v-model="newName">
        <!-- <button v-on:click="addNewName">Add Name</button> -->
        <button @click="addNewName">Add Name</button>
    </div>

    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#root',
            data: {
                message: "Hello World",
                // Step 1 : Create a list of items
                names: ['John', 'Jerry', 'Denial', 'Mary'],
                newName: "",
            },
            methods: {
                // Step 6 : Add model-data to array and clear data
                addNewName() {
                    this.names.push(this.newName);
                    this.newName = "";
                }
            },
        })
    </script>
</body>

</html>